@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}
body{ font-family: "Arial", "微软雅黑";font-size:14px}
a{color:#000; text-decoration:underline}
img{ border:none}
.menu{width:1055px;margin:0 auto;height:75px;}
.menu .logo{ float:left;width:350px;padding-top:20px}\
.menu .nav{float:right;width:692px; text-align:right}
.menu .nav a{ display:inline-block;padding:27px 25px 20px 25px;font-size:18px;text-decoration:none;color:#000}
.menu .nav a.on{color:#039ee0;border-bottom:3px solid #039ee0;font-weight:bold}

.btn{;height:30px; padding:0 15px ;background:#1683e8;color:#fff; border:none;font-size:12px; text-align:center;line-height:30px; border-radius:5px; cursor:pointer}
.btn:hover{background:#FF680F}

.banner{width:100%;height:479px; background:url(../img/mainbanner.jpg) no-repeat bottom center}
.m_banner{width:1055px;margin:0 auto;height:479px;background:url(../img/mainbanner.jpg) no-repeat bottom center}

.list{width:1055px;margin:20px auto; background:url(../img/mainlist.jpg) no-repeat center center;height:320px}
.footer{ background:url(../img/footer_bg.gif) repeat-x center top;margin-top:50px;height:70px;text-align:center;padding-top:50px;color:#fff;font-size:14px; width:100%;}
.banner_about{ background:url(../img/banner_aboutus.jpg) no-repeat;height:202px}
.banner_zcdl{background:url(../img/banner_zcdl.jpg) no-repeat;height:202px}

.main{border:1px solid #ddd;border-top:none;padding:30px;width:995px;margin:0 auto;position:relative}
.title{ background:url(../img/title_bg.png) no-repeat center center;height:38px;font-size:18px; text-align:center;color:#fff;line-height:38px; position:relative;top:-40px;}

.inp{border:1px solid #ddd;height:30px;color:#AFAFAF;padding:3px 5px;width:260px;}
.zc_table{margin:20px auto;width:60%}
.zc_table em{color:#f00;font-weight:bold}
.zc_table td{padding:8px 10px}
.zc_table a{color:#000}
.blue_button{width:250px;height:37px; background:url(../img/blue_button.png) no-repeat; text-align:center;color:#fff;font-size:16px;font-weight:bold;border:none; cursor:pointer }

.greybg{ border-radius:10px;border:1px solid #dbdbdb;background:#f4f4f4;padding:15px;width:90%;margin:0 auto;font-size:14px}
.fright{float:right}
.userinfo{border-bottom:1px solid #ddd;padding:8px 15px 15px 10px}
.userinfo a{color:#000; text-decoration:underline}
.userinfo em{ font-style:normal;color:#FF680F;}

.listicon ul{ list-style:none;width:80%;margin:15px auto}
.listicon li{float:left;width:95px;text-align:center;margin:20px 40px;}
.listicon li img{margin-bottom:15px}

.txlist{padding:20px 0}
.txlist .leftpic{width:150px; text-align:center;float:left;margin-top:20px}
.txlist .rightcontent{float:right;width:680px;}
.txlist .rightcontent{margin-top:20px;background:#fff; border-radius:15px;padding:10px 15px}
.rightcontent ul,.rightcontent li{ list-style:none}
.rightcontent li{border-bottom:1px solid #ddd;padding:20px 15px}
.rightcontent li span{padding-right:30px;}
.rightcontent li span.name{color:#FF3F00}
.rightcontent li.hit{ background:url(../img/icon_right.png) no-repeat 10px center}
.rightcontent label{ display:inline-block;padding-right:20px;text-align:right;width:100px;}
.edit li{padding:10px 15px}
.edit  em{color:#FF680F;font-weight:bold; font-style:normal}
.tipstime{padding:30px 0 20px 45px;border-bottom:1px solid #ddd}

.edit input.inp{color:#333}

.btnarea{text-align:right;border-bottom:1px solid #ddd;padding-bottom:15px;padding-right:30px}

.clear{clear:both}
.clearfix{+zoom:1}
.clearfix:after{clear:both;content:".";display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}