<#assign spring=JspTaglibs["/WEB-INF/tld/spring.tld"]/>
<html>
<head>
<meta charset="utf-8">
<title><@spring.message code="page.common.title"/></title>
<#include "/view/inc/script.inc" encoding="utf-8"> 
<script language="javascript" src="${path!}/script/laydate/laydate.js"></script>
<script language="javascript" src="${path!}/view/maintain/js/medicalAddOrEdit.js"></script>
<script type="text/javascript">
$(function(){
	var medical;
	//修改页面的初始化
	<#if medical.medicalId??>
	medical = {
		"medicalId" : "${medical.medicalId!}",
		"name" : "${medical.name!}",
		"startDate" : "${(medical.startDate!)?string('yyyy-MM-dd')}",
		"splitDays" : "${medical.splitDays!}",
		"days" : "${medical.days!}",
		"takeNum" : "${medical.takeNum!}",
		"takeUnit" : "${medical.takeUnit!}",
		"eatTime" : "${medical.eatTime!}"
	}
	</#if> 
	//初始化
	MedicalInit(medical);
});
</script>
</head>

<body>
<#include "/view/inc/head.inc" >
<div class="banner_zcdl"></div>
<div class="main" style="border:none">
	<div class="title"><@spring.message code="page.head.memberLogin"/></div>
  <div class="greybg">
  <form name="form" id="form" method="post">
   	<#include "/view/inc/userLogin.inc" encoding="utf-8">
    <div class="txlist clearfix">
    	<div class="leftpic"><img src="${path!}/img/icon_2.gif"><br>
    	  药物管理</div>
        <div class="rightcontent edit">
        	<ul>
            	<li><label><@spring.message code="page.medical.name"/>：</label>
            	  <input name="name" id="name" type="text" class="inp"  value="" maxlength="15">
            	</li>
                <li><label><@spring.message code="page.medical.beginDate"/>：</label>
                  <input name="startDate" id="startDate" type="text" class="laydate-icon" onclick="laydate()"   value="">
                </li>
                <li><label><@spring.message code="page.medical.interval"/>：</label>
                  <select name="splitDays" id="splitDays" >
                  	<option value="-1" ><@spring.message code="page.common.choose"/></option>
                    <option value="0" selected><@spring.message code="page.time.every"/><@spring.message code="page.time.one"/><@spring.message code="page.time.day"/></option>
                    <option value="1"><@spring.message code="page.time.every"/><@spring.message code="page.time.two"/><@spring.message code="page.time.day"/></option>
                    <option value="2"><@spring.message code="page.time.every"/><@spring.message code="page.time.three"/><@spring.message code="page.time.day"/></option>
                    <option value="3"><@spring.message code="page.time.every"/><@spring.message code="page.time.four"/><@spring.message code="page.time.day"/></option>
                    <option value="4"><@spring.message code="page.time.every"/><@spring.message code="page.time.five"/><@spring.message code="page.time.day"/></option>
                    <option value="5"><@spring.message code="page.time.every"/><@spring.message code="page.time.six"/><@spring.message code="page.time.day"/></option>
                    <option value="6"><@spring.message code="page.time.every"/><@spring.message code="page.time.week"/></option>
                    <option value="7"><@spring.message code="page.time.every"/><@spring.message code="page.time.month"/></option>
                  </select>
                </li>
                <li><label><@spring.message code="page.medical.duration"/>：</label>
                  <select name="days" id="days">
                  	<option value="-1" ><@spring.message code="page.common.choose"/></option>
                    <option value="0">1 <@spring.message code="page.time.day"/></option>
                    <option value="1">2 <@spring.message code="page.time.day"/></option>
                    <option value="2">3 <@spring.message code="page.time.day"/></option>
                    <option value="3">4 <@spring.message code="page.time.day"/></option>
                    <option value="4">5 <@spring.message code="page.time.day"/></option>
                    <option value="5">6 <@spring.message code="page.time.day"/></option>
                    <option value="6" selected>1 <@spring.message code="page.time.week"/></option>
                    <option value="7">2 <@spring.message code="page.time.week"/></option>
                    <option value="8">3 <@spring.message code="page.time.week"/></option>
                    <option value="9">1 <@spring.message code="page.time.month"/></option>
                    <option value="10">3 <@spring.message code="page.time.month"/></option>
                    <option value="11">6 <@spring.message code="page.time.month"/></option>
                    <option value="12">1 <@spring.message code="page.time.year"/></option>
                    <option value="13"><@spring.message code="page.time.forever"/></option>
                  </select>
                </li>
                <li><label><@spring.message code="page.medical.everyDosage"/>：</label>
                  <select name="takeNum" id="takeNum">
                  	<option value="-1" ><@spring.message code="page.common.choose"/></option>
                    <option value="1" selected>1</option>
                    <option value="2" >2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                  </select>
                  <@spring.message code="page.medical.unit"/>
                  <select name="takeUnit" id="takeUnit">
                  	<option value="-1" ><@spring.message code="page.common.choose"/></option>
                    <option value="0"><@spring.message code="page.medical.unit.grain"/></option>
                    <option value="1" selected><@spring.message code="page.medical.unit.slice"/></option>
                    <option value="2"><@spring.message code="page.medical.unit.bottle"/></option>
                    <option value="3"><@spring.message code="page.medical.unit.bag"/></option>
                    <option value="4"><@spring.message code="page.medical.unit.box"/></option>
                    <option value="5"><@spring.message code="page.medical.unit.gram"/></option>
                  </select>
                </li>
                <li><label><@spring.message code="page.medical.timing"/>：</label>
                  <input type="radio" name="eatTime" id="eatTime1"  value="1">
                  <@spring.message code="page.medical.timing.before"/>
                  <input type="radio" name="eatTime" id="eatTime2"  value="2" checked>
                  <@spring.message code="page.medical.timing.after"/>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  
                </li>
                <li><label><@spring.message code="page.medical.attention"/>：</label>
                  <input name="remark" type="text" class="inp" id="remark" maxlength="100" value="${medical.remark!}">
                </li>     
                <div class="tipstime"><span class="fright"><input type="button" name="addTimeBt" class="btn" id="addTimeBt" value='<@spring.message code="page.common.add"/>'></span><@spring.message code="page.medical.timing"/>：</div>       	
               <span id="takeTimeSpan">
               <#list medicalTimeList as medicalTime>
	                <li name="takeTimeLi" style="padding-left:45px"><span name="whichTimeSpan"><@spring.message code="page.remind.the"/>#<@spring.message code="page.remind.times"/></span>
	                  <input name="takeTimeText" type="text" class="inp" medicalTimeId="${medicalTime.medicalTimeId!}"  value="${medicalTime.takeTime!}">
	                <span class="fright"><a href="##" onclick="TimeRemind.delTime(this)"><@spring.message code="page.common.delete"/></a></span></li>
	           </#list>  
                </span>
            </ul>
            <br>
            <div align="center">
              <input type="button" name="saveBt" id="saveBt" class="btn"  value='<@spring.message code="page.common.save"/>'>
              &nbsp; 
          	  <input type="button" name="btBack" class="btn" id="btBack" value='<@spring.message code="page.common.back"/>' onclick="window.location='medicalList.do'">
          	 
          	</div>
      </div>
    </div>
    <input type="hidden" name="medicalId" id="medicalId" value="${medical.medicalId!}" />
    <input type="hidden" name="medicaTimeIds" id="medicaTimeIds" value="" />
    <input type="hidden" name="whichTimes" id="whichTimes" value="" />
    <input type="hidden" name="takeTime" id="takeTime" value="${medical.takeTime!}" />
   </form> 
    <p>&nbsp;</p>
  </div>
</div>
<#include "/view/inc/bottom.inc" encoding="utf-8">
</body>
</html>
