<#assign spring=JspTaglibs["/WEB-INF/tld/spring.tld"]/>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><@spring.message code="page.common.title"/></title>
</head>
<body>
<#if returnResult.rtnCode == "success">
	<@spring.message code="page.register.activate.success"/>
<#else>
	<@spring.message code="page.register.activate.fail"/>
</#if>
</body>
</html>