<#assign spring=JspTaglibs["/WEB-INF/tld/spring.tld"]/>
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><@spring.message code="page.common.title"/></title>
<#include "/view/inc/script.inc" encoding="utf-8"> 
<script language="javascript" src="${path!}/view/remind/js/updatePasswordIndex.js"></script>
</head>

<body>
<#include "/view/inc/head.inc" > 
<div class="banner_zcdl"></div>
<div class="main">
	<div class="title"><@spring.message code="page.login.changePassword"/></div>
<form id="form" method="post" >
    <table class="zc_table" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="32%" align="right"><em>*</em> <@spring.message code="page.register.password"/>：</td>
      <td width="68%">
        <input name="password" type="password" class="inp" id="password" ></td>
    </tr>
    <tr>
      <td align="right"><em>*</em> <@spring.message code="page.register.new.password"/>：</td>
      <td><input name="newPassword" type="password" class="inp" id="newPassword"></td>
    </tr>
    <tr>
      <td align="right"><em>*</em><@spring.message code="page.register.again.password"/>：</td>
      <td><input name="newPasswordAgain" id="newPasswordAgain" type="password" class="inp" /></td>
    </tr>
    
   
    <tr>
      <td align="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="right">&nbsp;</td>
      <td><input type="button" name="passowrdSubmitBt" class="blue_button" id="passowrdSubmitBt" value='<@spring.message code="page.common.save"/>' ></td>
    </tr>
  </tbody>
</table>
</form>

</div>
<#include "/view/inc/bottom.inc" encoding="utf-8">
</body>
</html>
